<html>
   <body>
      <form action = "http://127.0.0.1:8080/init" method = "POST">
         <p>Enter Tournament:</p>
         <p>
            <select name="tournament">
              <option value="EPL">EPL</option>
              <option value="Bundesliga">Bundesliga</option>
              <option value="Serie A">Serie A</option>
              <option value="La liga">La liga</option>
              <option value="Ligue 1">Ligue 1</option>
              <option value="RPL">RPL</option>
            </select>
          </p>
         <p>Enter tour number:</p>
         <p><input type = "text" name = "tour" /></p>
         <p><input type = "submit" value = "sumbit" /></p>
      </form>   
   </body>
</html>